:root{
    --bg:#FDFBD4;
    --surface:#FFFCE8;

    --text:#38240D;
    --text-secondary:#713600;

    --accent:#C05800;

    --border:#D6C6A7;
}
  
[data-theme="dark"]{
    --bg:#1B1208;

    --surface:#2B1B0D;

    --text:#FDFBD4;

    --text-secondary:#D7C6AA;

    --accent:#C05800;

    --border:#713600;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
        background:var(--bg);
        color:var(--text);
    
    transition: all .3s ease;
}

.header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;

   
    background: var(--bg);

    z-index: 1000;
}

.logo{
    font-size: 28px;
    font-weight: bold;
    color: #38bdf8;
    cursor: pointer;
    color:var(--accent);
}
.navLinks{
    display: flex;
    align-items: center;
    gap: 30px;
}

.navLinks a{
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    transition: 0.3s;
    font-weight:500;
}

.navLinks a:hover{
    color:var(--accent);
}
.menuBtn{
    display:none;
}
.themeBtn{
    background:none;
    border:none;
    font-size:1.2rem;
    cursor:pointer;
    color:var(--text);
}


.sectionCard:hover{
    transform:translateY(-5px);
    transition:0.3s ease;
}

@media(max-width:768px){

    .menuBtn{
        display:block;
        background:none;
        border:none;
        color:white;
        font-size:1.8rem;
        cursor:pointer;
    }

    .navLinks{
        display:none;
    }

    .navLinks.active{
        display:flex;
        flex-direction:column;
        gap:15px;

        position:absolute;
        top:70px;
        right:20px;

        width:200px;

        background:var(--surface);
border:1px solid var(--border);

        padding:15px;
        border-radius:12px;
    }

    .navLinks a{
        padding:8px 0;
    }
}
